<h1 class="text-center">Bienvenue sur Spabulous</h1>

<div class="container text-center">

  <div class="row">
    <% @flats.last(6).each do |flat| %>
      <div class="col-xs-12 col-sm-6">
        <%= link_to flat_path(flat) do %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= flat.photo_1 %>');">
            <div class="title">
              <h3> <%= flat.name %></h3>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <hr/>

  <% if user_signed_in? %>
    <!-- Show button Add a flat -->
    <%= link_to "Proposer un appartement à la location", new_flat_url, { class: "btn btn-primary"} %>
  <% end %>

</div>
