<br>
<br>
<br>
<h3> All your bookings</h3>

<% @bookings.each do |booking| %>
  <p> You have a booking for the: <%= booking.started_at %></p>
  <p> <%= link_to "Details of the booking", flat_booking_path(booking.flat, booking) %></p>
  <p> -------- </p>
<% end %>
<h3>your flats</h3>
<%= render 'flats/all' %>

