<div class="banner" style="background-image: url(<%= image_path("background.jpg") %>);">
  <div class="banner-content">
    <h1>Tous les couples ont droit à leur paradis</h1>
    <p>Louez votre espace détente, de jour comme de nuit</p>
    <form action="/flats" method="get" style="color: black " class="form-inline">
      <input class="address form-control input-sm" name="address" type="text">
      <input type="text" name="date" class="datepicker form-control input-sm">
      <input class="btn btn-primary" type="submit" value="Rechercher">
    </form>
  </div>
</div>

<h2>Notre sélection pour vos futurs espaces détente</h2>
