.card{
  height: 600px;
  text-align: left;
  border-radius: $border_radius;
  position: relative;
}

.card-bottom{
  position: absolute;
  left: 20px;
  bottom: 120px;
}

.card-bottom btn{
  text-align: right;
}

.card h1, .card p{
  color: white !important;
}

.card h1:hover, .card p:hover{
  color: $light_text_color !important;
}
