@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-datepicker3";
@import "variables";

@import "components/*";

@import "flats";
@import "pages";


// GENERAL

body{
  text-align: center;
}
.wrapper{
  padding-top: 100px;
}

// LOGO

.logo{
  font-family: 'Baloo', cursive;
  color: $color_1;
}
.logo:hover{
  text-decoration: none;
  color: $color_2;
}
.logo h1 b{
  font-weight: normal;
  color: $color_2;
}
