.photo-appartement {
  margin: auto;
}

.list li{
  list-style-type: none;
}

.background-pink {
  background-color: #FFF6F3;
}

.form-new {
  margin-top: 40px;
}

#map {
  margin-bottom: 50px;
}


.blue{
  color: blue;
}

.appartment h2 a {
 color: #ccc;
 text-decoration: none;

}

ul {
  list-style-type: none;
}




.available-flat {
  color: red;
  margin: 40px;

}

.appartment {
  margin: 40px;
  color: rgb(187, 121, 234);
}

.appartment h2 a:hover {
 color: rgb(187, 121, 234);
 text-decoration: none;

}
