.photo-appartement {
  margin: auto;
}

.list li{
  list-style-type: none;
}

.background-pink {
  background-color: #FFF6F3;
}

.form-new {
  margin-top: 40px;
}

#map {
  margin-bottom: 50px;
}


.blue{
  color: blue;
}
