// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.team-social {
font-size: 1.2em;
// padding: 10px;
}

.card-team {
  margin: 20px;
  margin-top: 80px;
}

.page-image {
  margin: 50px;
}
